*, *::before, *::after {
    box-sizing:border-box;
}

body {
    line-height: $line-height-base;
    font-family: $font-family-base;
}

a {
    text-decoration: none;
    display: block;
    font-family: $font-family-base;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}