.bgBannerCover {
    background-size: cover;
    background-image: url("../assets/home-header.png");
    background-position: center center;

    @include pad {
        background-image: url("../assets/home-header-sm.png");
    }
}

.bgSecondary {
    background-color: $secondary;
}

.bgDesignCover {
    background-size: cover;
    background-image: url("../assets/index-bg.png");
    background-position: center center;

    @include pad {
        background-image: url("../assets/index-bg-md.png");
    }

    @include mobile {
        background-image: url("../assets/index-bg-sm.png");
    }
}

.bgSuccess {
    background-color: $success;
}