.container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 12px;

    @include pad {
        padding: 0 36px;
    }

    @include mobile {
        padding: 0 12px;
    }
}

.containerSm {
    max-width: 636px;
    margin: 0 auto;

    @include pad {
        max-width: 576px;
    }

    @include mobile {
        padding: 0 12px;
    }
}

.containerGlass {
    @include pad {
        padding: 0;
    }
}