<div class="bgSuccess">
    <div class="blogNav container d-flex justify-content-space-between align-items-center">
        <ul class="blogNavList d-flex">
            <li class="blogNavItem"><a href="#">最新消息</a></li>
            <li class="blogNavItem"><a href="#">特別企劃</a></li>
            <li class="blogNavItem"><a href="#">新品上市</a></li>
            <li class="blogNavItem"><a href="#">鏡框小知識</a></li>
        </ul>
        <div class="searchBar">
            <a href="#">
                <span class="material-symbols-outlined">
                    search
                </span>
            </a>
        </div>
    </div>
</div>