.glassList {
    .glassItem {
        width: 33.333%;
        border: 1px solid $gray-300;
        padding-top: map-get($spacers, 7);
        padding-bottom: map-get($spacers, 7);
        text-align: center;
        border-bottom: 8px solid transparent;

        @include pad {
            padding-top: map-get($spacers, 5);
            padding-bottom: map-get($spacers, 5);
        }

        &:hover {
            border-bottom: 8px solid $primary;
        }

        a {
            font-family: $font-family-eng;
            font-weight: map-get($font-weight, 2);
            font-size: map-get($font-size, 7);
            color: $black;

            @include pad {
                font-size: map-get($font-size, 6);
            }

            @include mobile {
                font-size: map-get($font-size, 2);
            }
        }
    }

    .active {
        padding-bottom: map-get($spacers, 5);
        border-bottom: 8px solid $primary;
    }
}

.bannerOptical {
    img {
        width: 50%;

        @include mobile {
            width: 49.3%;
        }
    }
}

.optical {
    padding-top: map-get($spacers, 13);
    padding-bottom: map-get($spacers, 13);

    @include mobile {
        padding-top: map-get($spacers, 10);
        padding-bottom: map-get($spacers, 10);
    }

    h2 {
        text-align: center;
        font-family: $font-family-eng;
        font-weight: map-get($font-weight, 2);
        font-size: map-get($font-size, 9);

        @include mobile {
            font-size: map-get($font-size, 6);
        }
    }

    h3 {
        text-align: center;
        font-size: map-get($font-size, 7);
        margin-bottom: map-get($spacers, 8);

        @include mobile {
            font-size: map-get($font-size, 6);
            margin-bottom: map-get($spacers, 7);
        }
    }

    .productList {
        gap: map-get($spacers, 7);

        @include pad {
            flex-wrap: wrap;
        }

        .productItem {
            width: 25%;

            @include pad {
                width: 48%;
            }

            @include mobile {
                width: 100%;
            }

            img {
                width: 100%;
                filter: brightness(80%);
            }

            &:hover img {
                filter: brightness(100%);
                transition: all .3s;
            }
        }

        .productTitle {
            font-family: $font-family-eng;
            font-size: map-get($font-size, 6);

            p {
                color: $black;
            }

            span {
                color: $primary;
            }
        }
    }

    .productList ~ .productList {
        margin-top: map-get($spacers, 13);

        @include pad {
            margin-top: map-get($spacers, 10);
        }

        @include mobile {
            margin-top: map-get($spacers, 7);
        }
    }

    .productColor {
        gap: map-get($spacers, 3);

        .box {
            width: 24px;
            height: 24px;
            border-radius: 4px;
        }

        .brownBox {
            background-color: $brown;
        }

        .orangeBox {
            background-color: $orange;
        }
    }

    .pagination {
        margin-top: map-get($spacers, 12);
        
        a {
            display: inline-block;
            padding-top: map-get($spacers, 4);
            padding-bottom: map-get($spacers, 4);
            padding-left: map-get($spacers, 5);
            padding-right: map-get($spacers, 5);
            border: 1px solid $gray-500;
            color: $gray-500;

            &:hover {
                background-color: $black;
                color: $white;
            }
        }

        .active {
            background-color: $black;
            color: $white;
        }

        .stress {
            background-color: $gray-100;
        }
    }
}